body {
  font-family: "Segoe UI", sans-serif;
}

/* --------------------------------------
   SIDEBAR 
---------------------------------------*/
.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
  padding-top: 20px;
  background: #fff;
}

/* Collapse width */
.sidebar.close {
  width: 70px;
}

/* REMOVE DOTS (This is the main fix) */
.sidebar ul, 
.sidebar li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

/* Sidebar links */
.sidebar a {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 20px;
  text-decoration: none;
  color: #444;
  border-radius: 8px;
  margin: 8px 0;
}

/* Hover + active */
.sidebar a:hover,
.active-link a {
  background: #e9f1ff;
  color: #0d6efd;
}

/* Collapse mode → Hide text but KEEP ICON */
.sidebar.close span {
  display: none;
}

/* Collapse mode → Center icon */
.sidebar.close a {
  justify-content: center;
  padding: 12px 0px;
}

/* Icons always visible */
.sidebar a svg,
.sidebar a i {
  font-size: 20px;
  min-width: 22px;
  color: #444;
}

/* Fix: Collapse mode icon not shrinking */
.sidebar.close a svg,
.sidebar.close a i {
  margin-right: 0 !important;
}

/* Toggle button */
.toggle-btn {
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 25px;
}

/* --------------------------------------
   MAIN CONTENT
---------------------------------------*/
.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  transition: 0.3s;
}

.main-content.collapsed {
  margin-left: 70px;
  width: calc(100% - 70px);
}

/* --------------------------------------
   DASHBOARD CARD
---------------------------------------*/
.status-card {
  background: linear-gradient(135deg, #2196f3, #0d6efd);
  color: white;
  border-radius: 14px;
  padding: 25px;
}


/* Light mode */
body[data-theme="light"] {
  background: #f8f9fa;
  color: #222;
}

/* Dark mode */
body[data-theme="dark"] {
  background: #1e1e1e;
  color: #e2e2e2;
}

/* Cards */
body[data-theme="dark"] .card {
  background: #2a2a2a !important;
  color: #fff;
}

/* Header */
body[data-theme="dark"] .header {
  background: #2a2a2a !important;
  color: white;
}

/* Sidebar */
body[data-theme="dark"] .sidebar {
  background: #232323 !important;
  color: white;
}
body[data-theme="dark"] .sidebar a {
  color: #eee;
}
body[data-theme="dark"] .sidebar a:hover {
  background: #333;
  color: #fff;
}
